.active-cards-container,
.card-element,
.cards-container,
.extra-cards-container {
    width: 6vw;
    height: 8vw;
    border-radius: 0.5vw;
}

.extra-cards-container>.card-element:not(:first-child) {
    margin-top: -7.98vw;
}

.extra-cards-container>.card-element {
    box-shadow: none;
}

.card-element {
    box-shadow: 0.1vw 0.1vw 0.25vw 0 rgba(0, 0, 0, 0.38);
    transition: box-shadow 0.2s ease, scale 0.2s ease, rotate 0.2s ease;
}

.card-element.focused {
    box-shadow: 1vw 1vw 0.25vw 0 rgba(0, 0, 0, 0.25);
    scale: 1.2;
}