* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}


img {
  -webkit-touch-callout: none;
  /* Отключение меню вызова на iOS */
  -webkit-user-select: none;
  /* Отключение выделения на iOS */
  -moz-user-select: none;
  /* Отключение выделения на Firefox */
  -ms-user-select: none;
  /* Отключение выделения на Internet Explorer */
  user-select: none;
  /* Отключение выделения на других платформах */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Oswald", sans-serif;

  background: #579E37;
  background: -moz-radial-gradient(center, #579E37 0%, #316224 100%);
  background: -webkit-radial-gradient(center, #579E37 0%, #316224 100%);
  background: radial-gradient(ellipse at center, #579E37 0%, #316224 100%);
}

.arrow-back-btn-link {
  position: absolute;
  top: 2vw;
  right: 2vw;
}

.arrow-back-btn-icon {
  width: 4.5vw;
}

.enemies-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  column-gap: 15vw;
}

.enemy-container {
  margin: 2vw;
  width: 10vw;
  height: 12vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name-container {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw;
}

.name {
  color: #fff;
  font-weight: bold;
  font-size: 1.5vw;
  --target-font-size: 1.5vw
}

.portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 6vw;
  background: #FFFFFF;
  background: -moz-linear-gradient(-45deg, #FFFFFF 0%, #BEFFFD 50%, #C5C5C5 100%);
  background: -webkit-linear-gradient(-45deg, #FFFFFF 0%, #BEFFFD 50%, #C5C5C5 100%);
  background: linear-gradient(135deg, #FFFFFF 0%, #BEFFFD 50%, #C5C5C5 100%);
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
}

.portrait>.portrait-icon {
  width: 5.7vw;
  position: absolute;
  top: 0%;
  left: 0%;
}

.enemy-cards-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  rotate: 180deg;
  scale: 0.8;
}

.enemy-cards-container>.card-element {
  margin: 0 -3vw;
}

.playground {
  margin-top: 2vw;
  width: 50vw;
  height: 30vh;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.playground-zone {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 5vw;
}

.playground-pare-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playground-pare-element>.card-element:not(:first-child) {
  margin-top: -10vw;
}

.pass-btn {
  border-radius: 2vw;
  border: none;
  width: 11vw;
  height: 4vw;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vh 0.7vh 2vh;
  background-image: url('../../Sprites/Mutual/base 4x -737054888.png');
  transform: translateY(-85%);
}

.pass-btn-title {

  font-size: 2.3vw;
  --target-font-size: 2.3vw;
  font-weight: 600;
  color: #ab6531;
  padding: 1.6vh 0;
}

.player-panel {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25vw;
  transform: translateY(-30%);
}

.player-cards-container>.card-element {
  margin: 0 -1.7vw;
}

.mock {
  width: 10vw;
  opacity: 0;
}

.cards-deck-container {
  position: absolute;
  width: 6vw;
  height: 8vw;
  bottom: 3vw;
  left: 9vw;
  rotate: 15deg;
  scale: 0.9;
}

.cards-deck>.card-element:not(:first-child) {
  margin-top: -8.15vw;
  box-shadow: none;
}

.cards-deck>.card-element:first-child {
  transform: rotate(90deg) translate(0%, -40%);
}

.cards-counter {
  color: #ffffffe3;
  font-size: 2.5vw;
  font-weight: 800;
  position: absolute;
  top: 20%;
  left: 12%;
  text-shadow: 0 0 4px #000000;
}

.card-element {
  width: 6vw;
  height: 8vw;
  min-width: 6vw;
  -webkit-box-shadow: 0.2vw 0.2vw 0.7vw 0.2vw #0000006e;
  box-shadow: 0.2vw 0.2vw 0.7vw 0.2vw #0000006e;
}

@media only screen and (orientation: portrait) {

}